@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(143, 182, 216); */
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #707070;
}
.bt-btn{
    border: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 10px;
    background-color: #ffe50f;
    text-transform: uppercase;
    letter-spacing: 4px;  
    padding: 18px 36px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.bt-btn:hover{
    border: 1px solid #ffe50f;
    background-color: rgb(56, 52, 59);
    color: #ffe50f;
    
}

.hero-section{
    background-color: rgb(56, 52, 59);
}
.menu-icon {
    width: 25px;
    cursor: pointer;
    margin-left: auto;
}
.menu-icon span{
  background-color: #ffe50f;
  height: 2px;
  margin-bottom: 3px;
  display: block;
}

.menu-icon span:nth-child(2){
    width: 80%;
    margin-left: auto;
}
.menu-icon span:nth-child(3){
    width: 60%;
    margin-left: auto;
}
/* Hero */
.hero{
    height: 400px;
    position: relative;
}

.hero .row{
    height: 100%;
}
.hero-content{
    height: 100%;
    color: white;
}
.hero-content h1{
    font-size: 20px;
    letter-spacing: 20px;
    margin-bottom: 25px;

}
.hero-content p{
 margin-bottom: 35px;  
 font-size: 13px;
 color: white;
}

.hero .arrwo-down{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero .arrwo-down:hover{
    bottom: 22px;
}
/* ABOUT */
.about {
    padding: 100px 0;
    background-color: #fff;
}
.about img {
    margin-bottom: 60px;
}

.services {
    background-color: #f4f4f4;
    padding-top: 80px;
}
.heading {
    margin-bottom: 80px;
}
.heading img {
    margin-bottom: 30px;
}
.heading h2 {
    margin-bottom: 25px;
    color: #1b1b1b;
    font-size: 20px;
    letter-spacing: 12px;
}

/* SERVICE */
.service-content-wrapper{
    padding-bottom: 40px;
}
.service-card {
    background-color: #fff;
    padding: 35px 20px 20px;
    margin-bottom: 25px;
}
.service-card-footer {
    background-color: #fff;
    padding: 20px;
}
.service-line{
    margin-bottom: 18px;
}
.service-line h5{
    font-size: 13px;
}
.service-line-bg{
    background-color: #f4f4f4;
    height: 8px;
    width: 100%;
}
.service-line-front-bg{
    background-color: #ffe500;
    height: 8px;
}
/* projects-card */
.projects-card-wrapper{
    padding-top: 80px;
    padding-bottom: 80px;
}
.projects-card h4{
    font-size: 15px;
    margin-bottom: 6px;
}
.projects-card p{
    font-size: 13px;
    margin-bottom: 0;
}
/* protfolio */
.portfolio{
    padding-top: 50px;
}
.portfolio-name{
    border-top: 1px solid #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    font-size: 13px;
    color: #1b1b1b;
    font-weight: 500;
}
.portfolio-card img{
    width: 100%;
    height: 500px;
}
.portfolio-card{
    transition: all 0.5s ease-in-out;
}
.hover-content{
   visibility: hidden;
}
.portfolio-card:hover .hover-content{
  visibility: visible;
}
.hover-content{
    font-size: 13px;
    font-weight: 500;
}
.hover-content p{
    font-size: 12px;
    line-height: 1.5;
    
}